<h4>Orders</h4>
<div class="row">
  <div class="col-md-4" *ngFor="let ord of orders.orders">
    <div class="card mb-4 shadow-sm" (click) = "open(ord.id)">
      <img [src]="ord.photoPath" height="225" width="250">
      <div class="card-body">
        <h4 class="card-text">{{ord.name}}</h4>
        <span class="d-flex justify-content-end">{{ (ord.price | currency) || "contract price"}}</span>
        <p class="card-text">{{(ord.description | slice:0:110) + '...'}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted">
            <i class="fas fa-briefcase"></i>
            {{ord.workTypeName}}</small>
          <small class="text-muted">
            <span class='glyphicon glyphicon-globe'></span>
            {{ord.location}}</small>
          <small class="text-muted" *ngIf="ord.finishDate">
            <span class='glyphicon glyphicon-globe'></span>
            {{ord.finishDate | date: "MM/d/y"}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<pagination *ngIf="totalCount > pageSize" class="msg-paging" [totalItems]="totalCount" [itemsPerPage]="pageSize"
  [maxSize]="8" [(ngModel)]="page" [disabled]="isLoading" (pageChanged)="loadOrders($event.page)"
  pageBtnClass="msg-page-item" previousText="🡠" nextText="🡢">
</pagination>