<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              class="nav-link active"
              routerLink="/account/orders"
              routerLinkActive="active"
            >
              My orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Messages
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Requests
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Settings
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
