<div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class='navbar-brand' [routerLink]='["/"]'>Order Service</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-label="Toggle navigation" [attr.aria-expanded]='isExpanded'
    (click)='toggle()'>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [collapse]="!isExpanded" (click)='collapse()'>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active">
          <i class="fas fa-tasks"></i>
          Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/executors" routerLinkActive="active">
          <i class="fas fa-users"></i>
          Executors</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders/create" routerLinkActive="active">
          <span class='glyphicon glyphicon-user'></span>
          Create order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="userRole !== 'Executor'" routerLink="/executors/create" routerLinkActive="active">
          Become executor</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/account" routerLinkActive="active">
            <i class="fas fa-user-circle"></i>
            My account</a>
        </li>
      <li class="nav-item ">
        <a class="nav-link" *ngIf="!isLogIn" routerLink="/sign-in" routerLinkActive="active">
         <i class="fas fa-sign-in-alt"></i> Sign-in
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" *ngIf="isLogIn" (click)=signOut() href="">
         <i class="fas fa-sign-out-alt"></i> Sign-out
        </a>
      </li>
    </ul>
  </div>
</div>
